<footer class="page-footer">
    <div class="container">
        <h1 class="logo-footer">
            <a href="">logo</a>
        </h1>
        <div class="text-wrapper">
            <p>Copyright Vietnam Law and Legal Forum magazine, Vietnam News Agency,</p>
            <p>77-79 Ly Thuong Kiet St. Hanoi, Vietnam</p>
            <p>License No: 502/GP-BVHTT issued by the Ministry of Culture and Information on October 10, 2001</p>
            <p>Editor-in-Chief: Ms. Cao Thi Mai Phuong</p>
            <p>Tel: 04-38248670/ Fax: 04-38248672/ Email: vietnamlawmagazine@gmail.com</p>
        </div>
    </div>
</footer>