@mixin width50-Left {
    margin-left: calc(50% - 412.5px);
    margin-top: $spacer-3;
    margin-right: $spacer-3;
}

@mixin width50-Right {
    margin-right: calc(50% - 412.5px);
    margin-top: $spacer-3;
    margin-left: $spacer-3;
}

/* > normal article*/

/* > normal article*/

.article {
    margin: 0 auto;

    @include media-breakpoint-down(lg) {
        // padding-right: $spacer-4;
    }

    // cms default html 
    table.picture {
        text-align: center;
        width: 100%;
        padding-top: .8rem;
        font-size: 1px;
        font-style: italic;
        color: #888 !important;
        padding-left: 25px;
        padding-right: 25px;
        font-weight: $font-weight-normal;


        .pic {
            position: relative;

            img {
                max-width: 100%;
                width: auto;
            }

            .play {
                cursor: pointer;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background: rgba(0, 0, 0, 0.8);
                width: 100px;
                height: 100px;
                display: block;

                i {
                    font-size: 48px;
                    line-height: 48px;
                    color: #FFFFFF;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }

        .caption {
            padding-top: $spacer-1;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            color: #6C757D;
            font-family: 'Roboto';

        }

        &[align="left"] {
            // width: 50%;
            // margin-right: $spacer-3;
            width: 363px;
            float: left;
            margin-right: 32px;

            .caption {
                text-align: left;
            }
        }

        &[align="right"] {
            float: right;
            width: 363px;
            margin-left: 32px;
            // width: 50%;
            // margin-left: 1.5rem;

            .caption {
                text-align: left;
            }
        }

        &[align="center"] {
            text-align: center;
            max-width: 659px;
        }

        &.full-width {
            margin: $spacer-3 auto 0;
            width: 100%;
            max-width: initial;
            text-align: center;

            .pic {
                img {
                    width: 100%;
                }
            }

            td.caption {
                text-align: center;
                // font-size: 16px;
                font-weight: 400;
                font-style: italic;
            }
        }
    }

    .photo {
        img {
            max-width: 100%;
        }
    }

    table.video {
        margin: $spacer-3 auto 0;
        max-width: 100%;

        video {
            max-width: 100%;
        }

        .caption {
            @include text-regular-1;
            padding-top: $spacer-1;

            p {
                margin: $spacer-1 auto 0;

                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }

    table:not([class]) {
        width: 100% !important;

        td,
        th {
            padding: 10px;
            border: 1px solid $border-color;
        }
    }

    blockquote {
        position: relative;
        z-index: 0;
        background: #FFFFFF;
        border: 2px solid #CE2E0E;
        box-sizing: border-box;
        padding: 36px 24px;
        margin-top: 30px !important;

        &::before {
            content: "";
            position: absolute;
            top: -28px;
            background: #fff url(../img/quote.png) center center no-repeat;
            width: 60px;
            height: 45px;
            left: 15px;
        }

        p {
            font-style: italic;
            font-weight: normal;
            font-size: 18px;
            line-height: 27px;
            color: #222222;
        }

        .author {
            font-size: 18px;
            line-height: 27px;
            text-transform: uppercase;
            font-style: normal;
            text-align: left;
            font-weight: 600;
            display: block;
            padding-top: 35px;
            position: relative;
            padding-top: 29px;
            font-family: 'NotoSerif';
            src: url('../fonts/NotoSerif/NotoSerif-600.ttf');
            font-weight: 700;
            overflow: auto;

            &:before {
                background: $primary;
                content: '';
                width: 99px;
                height: 3px;
                position: absolute;
                top: 16px;
                left: 0px;
            }
        }

        img {
            width: 40%;
            margin: 5px $spacer-4 0 0;
            float: left;
        }

        &.qcenter {
            margin: $spacer-4 auto 0;

            img {
                width: 100%;
                height: auto;
                margin: 0 0 $spacer-1 0;
            }
        }

        &.qleft {
            float: left;
            width: 330px !important;
            margin-right: 32px;

            img {
                width: 100%;
                height: auto;
                margin: 0 0 $spacer-1 0;
            }
        }

        &.qright {
            width: 330px !important;
            margin-left: 32px;
            float: right;
            margin-top: 1rem;
            z-index: 0;

            img {
                width: 100%;
                height: auto;
                margin: 0 0 $spacer-1 0;
            }

            .author {
                text-align: left;

                &:before {
                    background-color: $primary;
                    content: '';
                    height: 3px;
                    position: absolute;
                    top: 18px;
                    left: initial;
                }
            }
        }
    }

    .notebox {
        background: rgba(255, 193, 7, 0.2);
        border: 1px solid rgba(255, 193, 7, 0.5);
        padding: 36px;
        text-align: left;
        margin-top: $spacer-3 !important;
        overflow: auto;

        .heading {
            font-style: normal;
            font-weight: 700;
            font-size: 17px;
            line-height: 27px;
            color: #212529;
            text-transform: capitalize;
            text-align: left;
            padding: 0;
            padding-bottom: 8px;
            border-bottom: 1px solid;
            border-color: rgba(0, 0, 0, 0.1);
            margin-bottom: 8px !important;
        }

        p {
            font-size: 18px;
            line-height: 27px;
            margin: 0 !important;

            &:first-child {
                margin-top: 0;
            }
        }

        p+table {
            margin-top: 20px;
        }

        table.picture {
            margin-bottom: $spacer-3;

            &[align="left"] {
                margin-left: initial;
            }

            &[align="right"] {
                margin-right: initial;
            }

            &[align="center"] {
                max-width: 100%;
            }

            &.full-width {
                width: 100%;
                max-width: initial;
            }
        }

        &[align="left"] {
            float: left;
            // margin-right: $spacer-3;
            margin-right: 32px;
        }

        &[align="right"] {
            float: right;
            margin-left: 32px;

        }

        &[align="left"],
        &[align="right"] {
            // width: 50%;
            width: 330px;

            table.picture {

                &[align="left"],
                &[align="right"],
                &[align="center"],
                &.full-width {
                    width: 100%;
                }
            }
        }
    }

    &__sub-title {
        padding-top: $spacer-3;
        border-top: 1px solid $gray-300;
        font-size: 1.6rem;
        font-weight: 600;
        color: $gray-800;
        text-transform: uppercase;
    }

    &__title {
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 60px;
        color: #212529;
        font-family: 'PlayfairDisplay';
        margin-top: 16px !important;
    }

    &__subtitle {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        color: #212529;
        text-transform: uppercase;
    }

    &__meta {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;

        .time {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            color: #ADB5BD;
            display: block;
            font-family: 'Roboto';
        }

    }



    &__author {
        width: 100%;
        height: 86px;
        background: #F8F9FA;
        padding: 20px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .list-author {
            display: flex;
            align-items: center;
        }

        .wrap-author {
            height: 46px;
            display: flex;
            align-items: center;
            padding-left: 33px;
            border-left: 1px solid $border-color;

            &:first-child {
                border-left: none;
                padding-left: 0;
                padding-right: 33px;
            }

            .avatar {
                overflow: hidden;
                width: 46px;
                height: 46px;
                background: url(../img/img-user.png) center center no-repeat;
                border-radius: 50%;
                margin-right: $spacer-2;

                img {
                    width: 100%;
                }
            }

            .info-author {
                .name {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 20px;
                    color: #495057;
                    font-family: 'Roboto';
                }

                .mail {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 20px;
                    color: #6C757D;
                    font-family: 'Roboto';
                }
            }
        }

        .text {
            width: 85px;
            height: 36px;
            background: #FFFFFF;
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            color: #ADB5BD;
            text-transform: uppercase;
            font-family: 'Roboto';
            display: flex;
            align-items: center;
            justify-content: center;
            left: 20px;
            margin-bottom: 0;
        }
    }

    .horizol-menu {
        display: flex;
        justify-content: space-between;
        width: 190px;
        margin-left: auto;
        z-index: 10;

        >* {
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #cfcfcf;
            border-radius: 50%;

            &:hover {
                background-color: $primary;
            }
        }

        i {
            font-size: 16px;
            color: $white;
            margin-right: 0;
        }

        .zalo {
            background-color: transparent;
        }

        & {
            display: flex;

            .facebook:hover {
                background-color: #3b5998;
            }

            .twitter:hover {
                background-color: #00acee;
            }

            .zalo {
                i {
                    filter: grayscale(100%);
                    opacity: 0.4;
                }

                &:hover {
                    i {
                        opacity: 1;
                        filter: grayscale(0%);
                    }
                }
            }
        }

        .print:hover {
            background: #888;
        }
    }

    .verticle-menu {
        position: fixed;
        width: 40px;
        left: calc(50% - 700px);

        @include media-breakpoint-down(lg) {
            left: calc(50% - 678px);
        }

        top: 200px;
        flex-direction: column;
        display: none;
        z-index: 10;

        >* {
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: $spacer-1;
            background-color: #cfcfcf;
            border-radius: 50%;

            &:hover {
                background-color: $primary;
            }
        }

        i {
            font-size: 20px;
            color: $white;
        }

        .zalo {
            background-color: transparent;
        }

        &.sticky-aside {
            display: flex;

            .facebook:hover {
                background-color: #3b5998;
            }

            .twitter:hover {
                background-color: #00acee;
            }

            .zalo {
                i {
                    filter: grayscale(100%);
                    opacity: 0.4;
                }

                &:hover {
                    i {
                        opacity: 1;
                        filter: grayscale(0%);
                    }
                }
            }

            .print:hover {
                background: #888;
            }
        }
    }

    .social-share {
        margin-left: auto;

        .fb-wrap {
            height: 20px;
            overflow: hidden;
        }
    }

    .social-btn-group {
        display: flex;
        justify-content: space-between;

        >a {
            width: calc(50% - 5px);
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .facebook {
            background-color: #3c5898;
            color: $white;

            i {
                font-size: 20px;
            }

            &:hover {
                background-color: darken(#3c5898, 10%);
            }
        }

        .twitter {
            background-color: #00acee;
            color: $white;

            i {
                font-size: 20px;
            }

            &:hover {
                background-color: darken(#00acee, 10%);
            }
        }

        .zalo {
            background-color: #018fe5;

            i {
                transform: scale(.7);
            }

            &:hover {
                background-color: darken(#018fe5, 10%);
            }
        }
    }

    &__sapo {
        font-style: italic;
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
        color: #222222;
    }

    &__avatar {
        margin-top: 3.2rem;
        text-align: center;
        width: 100%;

        .pic {
            img {
                width: 100%;
            }
        }

        .caption {
            padding-top: $spacer-1;
            font-size: 16px;
            font-style: italic;
            color: #888888;
            padding-left: 25px;
            padding-right: 25px;

        }

        hr {
            width: 50px;
        }
    }

    &__table {
        table.table {
            @extend .table;
            border: 1px solid $border-color;

            td {
                border: 1px solid $border-color;
            }
        }
    }

    .related-topic {
        width: 100%;
        background: #FFFFFF;
        border: 1px solid #DDDDDD;
        padding: 0 25px 25px;

        .heading {
            background: #CE051F;
            font-style: normal;
            font-size: 16px;
            line-height: 19px;
            text-transform: uppercase;
            color: #FFFFFF;
            padding: 5px 12px;
            width: fit-content;
            display: block;

            &:hover {
                background: #a6111c;
                color: white !important;
            }
        }

        .wrap-story {
            margin-top: 20px;

            .story {
                margin-top: 12px;

                &:first-child {
                    margin-top: 0;
                }

                &__heading a {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 20px;
                    color: #343A40;
                    font-family: 'Noto';

                    i {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 14px;
                        color: #D0021B;
                        margin-right: 13px;
                    }
                }
            }
        }

    }

    &__source {
        font-size: 18px;
        font-weight: 700;
        display: flex;
        justify-content: flex-end;
    }

    &__tag {
        position: relative;

        .box-heading {
            font-size: 18px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            color: #333333;

            .heading:hover {
                color: unset !important;
            }
        }

        .box-content {
            display: flex;
            justify-content: flex-start;
            flex-flow: row wrap;
            padding-left: 44px;

            a {
                border: 1px solid #DEE2E6;
                box-sizing: border-box;
                border-radius: 4px;
                padding: 5px 16px;
                font-size: 14px;
                line-height: 20px;
                font-style: normal;
                font-weight: normal;
                font-family: 'Roboto';
                margin-right: 12px;
                margin-top: 6px;

                &:hover {
                    color: $primary;
                }
            }
        }
    }

    &__most-read {
        margin-top: $spacer-3;
        border: 1px solid $gray-400;
        padding: $spacer-3;
        padding-top: $spacer-2;

        .box-heading {
            @include text-uppercase-1;
        }

        .story {
            // @include story-left;
            margin-top: $spacer-3;
            padding-top: $spacer-3;
            border-top: 1px dashed darken($border-color, 10%);

            &__thumb {
                width: 80px;
                height: 60px;
            }

            &__summary {
                margin-top: $spacer-1;
            }

            &__cate {
                a {
                    @include text-regular-2;
                    color: $gray-600;
                }
            }

            &__heading {
                @include text-heading-4;
                margin-top: $spacer-0;
            }

            &__meta {}

            &__summary {}

            &:first-child {
                margin-top: 0;
                border-top: 8px solid $primary;
                padding-top: $spacer-3;
            }
        }
    }

    &__relate {
        border-top: 1px solid #E5E5E5;
        border-bottom: 1px solid #E5E5E5;
        padding: 20px 0;
        padding-left: 0;
        width: 100%;
        overflow: auto;

        &__thumb {
            width: 200px;
            height: 130px;
            @include runaround(left, 0, 16, 0, 0);

            a {
                display: flex;
                width: 100%;
                height: 100%;
                transition: transform .5s ease-out .1s;
            }

            img {
                width: 100%;
                object-fit: cover;
                margin: initial;
            }
        }

        &__heading a {
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 26px;
            color: #000000;
            margin-top: 8px;
            padding-left: 215px;
            display: block;
            font-family: 'PlayfairDisplay';


            &:hover {
                color: $primary;
            }

        }

        &__meta a {
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 20px;
            text-transform: uppercase;
            color: #BD1723;
            font-family: 'Noto';
            padding-top: 12px;
            display: block;
        }
    }

    .poll-box {
        text-align: left;
        width: 100%;
        float: left;
        border: 2px solid #BD1723;
        box-sizing: border-box;
        background: $white;
        font-family: 'Roboto';
        padding: 22px 18px 27px;
        margin-bottom: 16px;
        position: relative;
        margin-left: 6px;

        &::before {
            border: 2px solid #BD1723;
            position: absolute;
            content: '';
            margin: -30px -26px;
            height: 100%;
            width: calc(100% + 4px);
            z-index: -1;
        }

        &[align="right"] {
            float: right;
            position: relative;
            margin-right: 8px;
            width: 297px;
            margin-left: 32px;

            &::before {
                border: 2px solid #BD1723;
                position: absolute;
                content: '';
                margin: -30px -12px;
                height: 100%;
                width: calc(100% + 4px);
                z-index: -1;
            }
        }

        &[align="left"] {
            // margin-right: $spacer-3;
            margin-left: 6px;
            float: left;
            position: relative;
            width: 297px;
            margin-right: 32px;

            &::before {
                border: 2px solid #BD1723;
                position: absolute;
                content: '';
                margin: -30px -26px;
                height: 100%;
                width: calc(100% + 4px);
                z-index: -1;
            }
        }

        .box-heading {
            span {
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 23px;
                text-transform: uppercase;
                color: #212529;

            }
        }

        .box-content {
            margin-top: 8px;

            .desc {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 21px;
                color: #495057;
                padding-bottom: 18px;
            }

            label {
                display: flex;
                align-items: center;
                cursor: pointer;

                span {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 20px;
                    color: #212529;
                    margin-left: 5px;
                }
            }

        }

        .wrap-button {
            margin-top: 20px;

            .btn-send {
                background: #D0021B;
                border-radius: 3px;
                width: 87px;
                height: 28px;
                color: $white;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 19px;
                text-transform: uppercase;
                color: #FFFFFF;
            }

            .btn-see {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 19px;
                color: #495057;
                margin-left: 20px;
            }
        }
    }

    .social-btn-group,
    .article__relate-2,
    blockquote,
    &__notice,
    &__table,
    &__story,
    &__author,
    &__live,
    &__interview {
        margin: $spacer-4 auto $spacer-2;
    }

    &__body {
        font-size: 18px;
        line-height: 27px;
        color: #212529;
        font-family: 'Roboto';
        src: url('../fonts/Roboto/Roboto-Regular.ttf');
        font-weight: 400;

        >h1,
        >h2,
        >h3,
        >h4,
        >h5 {
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 27px;
            color: #212529;
            font-family: 'NotoSerif';
            src: url('../fonts/NotoSerif/NotoSerif-600.ttf');
            font-weight: 700;
        }

        >*,
        p {
            margin-top: $spacer-3 !important;
            font-family: 'NotoSerif';
        }

        img {
            max-width: 100%;
        }

        a {
            // color: $primary;
        }

        table img {
            max-width: 100%;
        }

        // for ads
        #wrapperTop,
        #wrapperBottom {

            >strong,
            >p,
            >div,
            >h1,
            >h2,
            >h3,
            >h4,
            >h5,
            >ins // >figure,

            // >table,
                {
                margin: $spacer-3 auto 0;
            }
        }
    }

    .tts {
        width: 655px;
        margin: 20px auto 0;
    }

    [class^="image-group"] {
        width: auto;
        margin: $spacer-3 auto 0;

        img {
            width: 100%;
            height: 100%;
        }

        .image {
            display: flex;
            flex-flow: row wrap;
        }

        a {
            flex: 0 0 50%;
            max-width: 50%;
        }

        .caption {
            @include text-regular-1;
            padding-top: $spacer-1;
            padding-bottom: $spacer-3;

            &:empty {
                display: none;
            }
        }

        &.full-width {
            width: 100%;

            img {
                margin-bottom: 0;
            }
        }

        &+.image-group-2,
        &+.image-group-3,
        &+.image-group-4 {
            margin-top: 4px;
        }
    }

    .image-group-2 {
        a:nth-child(1) {
            padding-right: 2px;
        }

        a:nth-child(2) {
            padding-left: 2px;
        }
    }

    .image-group-3 {
        a:nth-child(1) {
            flex: 0 0 100%;
            max-width: 100%;
            margin-bottom: 4px;
        }

        a:nth-child(2) {
            padding-right: 2px;
        }

        a:nth-child(3) {
            padding-left: 2px;
        }
    }

    .image-group-4 {
        .col-39 {
            margin-bottom: 4px;
        }

        a:nth-child(1) {
            padding-right: 2px;
        }

        a:nth-child(2) {
            padding-left: 2px;
        }

        a:nth-child(3) {
            padding-right: 2px;
            padding-top: 4px;
        }

        a:nth-child(4) {
            padding-left: 2px;
            padding-top: 4px;
        }
    }
}

// > SPECTIFY PAGE ============
// --------
.infographic-page,
.longform-page {
    .picture.full-width {
        width: 100%;

        img {
            width: 100%;
        }
    }

    .site-body {
        line-height: 1.6;
        color: $gray-800;
    }

    .article {
        padding-right: 0;
        margin: 0 auto;
        margin-top: 24px;

        >* {
            max-width: 825px;
            margin: 0 auto;

            &.full-width,
            &.article__body {
                max-width: 100% !important;
            }
        }

        .article__body {
            >* {

                max-width: 825px;
                margin: 0 auto;

                &.full-width {
                    max-width: 100% !important;
                }
            }
        }

        .breadcrumbs,
        &__title,
        &__sapo {
            max-width: 1090px !important;
            display: flex;
            justify-content: center;
        }

        &__sapo {
            font-style: italic;
            font-weight: normal;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
            color: #222222;
            font-family: 'Noto';
        }

        // layout infographic
        table.picture {
            &[align="left"] {
                @include width50-Left();
            }

            &[align="right"] {
                @include width50-Right();
            }

            &[align="center"] {
                max-width: 659px;
                text-align: center;
            }

            &.full-width {
                width: 100%;
            }
        }

        table.video {
            width: 659px;

            video {
                max-width: 659px;
            }
        }

        blockquote {
            width: 659px;

            &.qcenter {
                max-width: 659px;
            }

            &.qleft {
                @include width50-Left();
            }

            &.qright {
                @include width50-Right();
            }
        }

        .notebox {
            table.picture {
                margin-bottom: $spacer-3;

                &[align="left"] {
                    margin-left: initial;
                }

                &[align="right"] {
                    margin-right: initial;
                }

                &[align="center"] {
                    max-width: 100%;
                }

                &.full-width {
                    width: 100%;
                    max-width: initial;
                }
            }

            &.nleft {
                margin-left: calc(50% - 400px);
            }

            &.nright {
                margin-right: calc(50% - 400px);
            }

            &.nleft,
            &.nright {
                width: 460px;
            }
        }


        &__avatar {
            margin-top: -1px;
        }

        &__title {
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            line-height: 60px;
            text-align: center;
            color: #212529;
            font-family: 'PlayfairDisplay';
        }

        &__meta {
            justify-content: space-between;
            height: initial !important;
            font-family: $font-family-serif;

            .social-share {
                margin-left: auto;
            }
        }

    }

    .more-story-detail,
    .timeline-detail {
        width: 1287px;
        margin: $spacer-6 auto;
    }

    .poll-box {

        &[align="right"] {
            @include width50-Right();
        }

        &[align="left"] {
            @include width50-Left();
        }
    }

    .notebox {
        &[align="left"] {
            @include width50-Left();
        }

        &[align="right"] {
            @include width50-Right();

        }
    }
}

.infographic-page {
    .site-body {
        .article {
            &__avatar {
                text-align: center;
                margin: 0 auto;
            }

            &__sapo {
                margin: $spacer-4 auto $spacer-4;
            }

            table.picture {
                width: 100%;
                text-align: center;
            }

            .article-photo,
            .inlinephoto,
            .info-image,
            .full-width {
                width: auto;
                max-width: 1200px !important;
                margin: 0 auto;
                text-align: center;

                img {
                    width: auto !important;
                    max-width: 1200px !important;
                }
            }
        }
    }
}

.longform-page {
    .site-body {
        >.container:first-child {
            width: 100% !important;
            max-width: 100% !important;
        }
    }

    .article {
        &__title {
            // margin-top: $spacer-5;
        }

        .article-photo,
        .inlinephoto,
        .info-image,
        .full-width {
            img {
                width: auto !important;
            }
        }

        .verticle-menu {
            display: none;
        }
    }

    .chapter-breadcrumb {
        width: 660px;
        margin: 10px auto;
    }

    .like-share {
        text-align: center;
        width: 660px;
        margin: .8rem auto;
    }

    .poll {
        width: 50% !important;
        float: left;
        margin: 1.2rem 1.5rem .5rem calc(50% - 400px) !important;
    }


    .time {
        color: #555;
        width: 660px;
        font-size: 1.4rem;
        font-weight: 400;
    }

    .chapter-breadcrumb {
        .breadcrumb-detail {
            font-size: 1.2rem;

            &::before {
                top: 2px;
            }
        }
    }

}

.chapter-breadcrumb+.box-heading {
    width: 660px;
    margin: 0 auto;
}

.video-page {
    .article {
        padding-right: $spacer-10;

        .wrap-player {
            height: 580px;
            background-color: $gray-300;
        }

        header {
            margin-top: $spacer-4;
        }

        &__sub-title {
            color: $gray-200;
        }

        &__title {
            color: $white;
        }

        &__meta {

            >*,
            a {
                color: $gray-200;
            }

            .print,
            .mail {
                background-color: $gray-600;

                i {}
            }
        }

        &__sapo {
            color: $gray-200;
        }

        &__tag {
            .box-heading {
                top: 18px;

                i {
                    color: $gray-200;
                }
            }

            .box-content {
                a {
                    height: 22px;
                    padding: 0 0.8rem;
                    background-color: #ccc;
                    border-color: #ccc;

                    &:hover {
                        background-color: $primary;
                        border-color: $primary;
                    }
                }
            }
        }

        .btn-link.btn-lg {
            background-color: $gray-600 !important;
            color: $gray-200 !important;
        }
    }
}

.photo-page {
    .article {
        &__title {
            margin-top: $spacer-1;
            font-family: $font-family-serif;
            font-size: 4rem;
            line-height: 1.1;
            font-weight: 600;
            text-align: center;
        }

        &__meta {
            padding-bottom: 30px;
            border-bottom: 1px solid $gray-400;
            font-family: $font-family-serif;
            display: flex;
            text-align: center;
        }

        &__sapo {
            text-align: center;
        }
    }
}