// ====================================
// Customize scaffolding
// ====================================
/*
* TOC
*
* next ~ previous
*/
/*> text to speech desktop style*/
// đã sửa so với bản baomoi : bỏ đi is-active
@mixin bm-player {
    width: 100%;
    background-color: theme-color-level(light, 0);
    transition: all .15s linear;
    height: 40px;
    margin-bottom: 15px;
    visibility: visible;
    overflow: visible;
    margin-bottom: 0;

    button {
        border: none;
    }

    &__controls {
        display: flex;
        justify-content: space-between;
        height: 40px;

        .left {
            display: flex;
            max-width: 470px;

            .play-button {
                // width: 50px;
                // height: 50px;
                width: 44px;
                height: 40px;
                padding-left: 10px;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                >span {
                    // width: 34px;
                    // height: 34px;
                    width: 28px;
                    height: 28px;
                    background-color: rgba(color($key: "white"), .9);
                    border: 1px solid rgba($black, .3);
                    display: block;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                i {
                    font-size: 12px;
                    color: gray($key: "700");
                }

                .fa-play {
                    margin-left: 4px;
                }

                .fa-pause {
                    margin-left: 1px;
                }

                &:hover {
                    span{
                        background-color: rgba(color($key: "white"), 1);
                        border: 1px solid rgba($black, .4);
                    }
                    i {
                        color: gray($key: "900");
                    }
                }

                &+span {
                    display: flex;
                }
            }

            .mute-button {
                padding: 0 16px 0 8px;

                i {
                    font-size: 15px;
                    color: gray($key: "700");
                }
            }

            .volume-slider {
                width: 0px;
                display: flex;
                position: relative;
                overflow: hidden;
                margin-right: 0px;
                cursor: pointer;
                transition: all .15s linear;

                .volume-slider-handle {
                    position: absolute;
                    top: 50%;
                    width: 12px;
                    height: 12px;
                    border-radius: 6px;
                    margin-top: -6px;
                    background-color: gray($key: "600");
                    z-index: 999;

                    &:before,
                    &:after {
                        content: '';
                        position: absolute;
                        display: block;
                        top: 50%;
                        height: 3px;
                        margin-top: -2px;
                        width: 64px;
                    }

                    &:before {
                        left: -64px;
                        background-color: gray($key: "600");
                        // background-color: rgba($black, .3);
                    }

                    &:after {
                        left: 12px;
                        // background-color: gray($key: "100");
                        background-color: rgba($black, .1);
                    }
                }

                &.is-active {
                    margin-right: 10px;
                    width: 62px;
                }
            }

            .time-display {
                width: 90px;
                overflow: hidden;
                display: flex;
                align-items: center;
                font-size: 15px;
                color: gray($key: "700");
                opacity: 1;
                transition: all .2s linear;

                .current {
                    width: 30px;
                }

                .separator {
                    margin-right: 3px;
                }

                .live {
                    width: 8px;
                    height: 8px;
                    border-radius: 8px;
                    background-color: red;
                    display: block;
                    display: none;
                    margin-left: 8px;
                    -webkit-animation: animation-blink 1s infinite;
                    -moz-animation: animation-blink 1s infinite;
                    -o-animation: animation-blink 1s infinite;
                    animation: animation-blink 1s infinite;
                }
            }

            .progress-bar {
                width: 260px;
                margin-top: 19px;
                position: relative;
                display: flex;
                align-items: center;
                transition: all .2s linear;

                .bg {
                    width: 100%;
                    border-top: 3px solid rgba($black, .1);
                    display: flex;
                    position: absolute;
                    top: 0;
                    transition: all .15s linear;
                }

                .fill-load,
                .fill-recent {
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    height: 3px;
                    border-top: 3px solid rgba(white, .1);
                    cursor: pointer;
                    transition: all .15s linear;
                }

                .fill-recent {
                    transition: all .03s linear;
                }

                .wrap-recent {
                    margin-right: 40px;
                    position: absolute;
                    top: 0;
                    width: calc(100%);
                }

                .fill-recent {
                    background-color: #28A5FA;

                    .current_time {
                        position: absolute;
                        right: 0px;
                        top: -4px;
                        width: 5px;
                        height: 5px;
                        border-radius: 7px;
                        background-color: color($key: "white");
                        box-shadow: 0 0 4px rgba(0, 0, 0, .4);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 13px;
                        font-weight: 600;
                        color: #555;
                        cursor: pointer;
                        text-indent: -999em;
                        transition: all .15s linear;
                    }
                }

                &:hover {

                    .bg,
                    .fill-load,
                    .fill-recent {
                        border-top-width: 5px;
                        bottom: -1px;
                        cursor: pointer;
                    }

                    .current_time {
                        top: -7px;
                        right: -5px;
                        height: 10px;
                        width: 10px;
                    }
                }
            }

            .mute-wrap {
                &:hover {
                    &~.progress-bar {
                        width: 200px;
                    }

                    .volume-slider {
                        width: 62px;
                        margin-right: 10px;
                    }
                }
            }
        }

        .right {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-right: 12px;

            >span {
                display: block;
                position: relative;
            }

            .select-voice {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 26px;
                border-radius: 3px;
                padding-right: 20px;
                padding-left: 10px;
                background-color: rgba(color($key: "white"), .9);
                border: 1px solid rgba($black, .2);

                position: relative;

                i {
                    font-size: 14px;
                    margin-right: 10px;
                    color: gray($key: "700");
                }

                span {
                    font-size: 13px;
                    color: gray($key: "700");
                }

                @include caret(down);

                &:after {
                    position: absolute;
                    top: 10px;
                    right: 8px;
                    opacity: .4;
                }

                &:hover {
                    background-color: rgba(color($key: "white"), 1);
                    border: 1px solid rgba($black, .3);
                }
            }

            .voice-board {
                width: 180px;
                right: 0px;
                margin-top: 5px;
                box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

                ul {}

                li {
                    >div {
                        height: 44px;
                        display: flex;
                        align-items: center;
                        padding-left: 20px;
                        border-top: 1px solid $border-color;
                        cursor: pointer;

                        i {
                            margin-right: 10px;
                        }
                    }

                    &:first-child {
                        div {
                            border-top: none;
                        }
                    }

                    >div:hover,
                    &.is-active>div {
                        background-color: $gray-100;

                        i,
                        span {
                            color: $primary;
                        }
                    }
                }
            }
        }
    }
}

