// style index ( momentary )
.index-page {
  .heading {
    font-size: 40px;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
  }

  ul {
    margin-top: 40px;

    li {
      list-style-type: space-counter;
    }

    a {
      font-size: 16px;
      text-transform: capitalize;
      padding-left: 10px;
    }

  }
}

// main style
body {
  font-size: 14px;
}

// global
// INFO :  style for scroll
.scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px transparent;
  border-radius: 6px;
  background-color: transparent;
}

.scroll::-webkit-scrollbar {
  width: 4px;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.1);
}

.load-more {
  background: #bd1723 url(../img/arrow.png) top 16px left 37px/7px no-repeat;
  width: 127px;
  height: 42px;
  font-family: "Quicksand";
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  padding-left: 52px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-top: 36px;
}

.cate-breadcrumb {
  display: flex;

  .cate-parent {
    font-family: 'Righteous';
    font-weight: $font-weight-normal;
    font-size: 48px;
    line-height: 30px;
    color: #000000;
  }

  ul {
    display: flex;
    align-items: center;
  }

  .cate-child {
    font-family: 'Quicksand';
    font-weight: $font-weight-medium;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    padding: 0 18px;
    margin-top: 8px;
    display: block;

    &:hover {
      color: $primary;
    }
  }
}

// end

.top-story {
  margin-top: 33px;

  .heading {
    background: #870110;
    display: block;
    font-family: 'Righteous';
    font-weight: $font-weight-normal;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 12px 0 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .box-content {
    border-right: 1px solid #CED4DA;
    border-left: 1px solid #CED4DA;
    border-bottom: 1px solid #CED4DA;
  }

  .story {
    padding: 0 16px;
    margin-bottom: 16px;
    padding-top: 16px;
    border-top: 1px solid #CED4DA;

    &:first-child {
      margin-top: 0;
      padding-bottom: 0;
      border-top: none;
    }

    &__heading a {
      font-weight: $font-weight-medium;
      font-size: 20px;
      line-height: 28px;
      color: #212529;
    }

    &__summary {
      font-family: 'Quicksand';
      font-weight: $font-weight-normal;
      font-size: 14px;
      line-height: 21px;
      color: #495057;
      margin-top: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      line-clamp: 5;
      -webkit-box-orient: vertical;
    }
  }
}

.box-tips {
  margin-top: 33px;
  background: #FFFFFF;
  border: 1px solid #DEE2E6;
  padding: 24px;

  .heading {
    height: 125px;
    background: url(../img/bg-tips.png) top center/149px no-repeat;
    font-family: "Quicksand";
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -.04em;
    text-transform: uppercase;
    color: #000;
    display: flex;
    align-items: end;
    justify-content: center;
    position: relative;
    z-index: 1;

    &::before {
      position: absolute;
      content: "";
      border-bottom: 6px solid #ffcd39;
      bottom: 3px;
      left: 50%;
      width: 206px;
      height: 6px;
      transform: translateX(-50%);
      z-index: -1;
    }
  }

  .box-content {
    margin-top: 16px;
  }

  .story {
    &__heading a {
      font-weight: $font-weight-medium;
      font-size: 14px;
      line-height: 22px;
      text-align: center;
      color: #343A40;
      padding-top: 16px;
      margin-top: 16px;
      position: relative;

      &::before {
        position: absolute;
        content: '';
        width: 70px;
        height: 1px;
        background: #E9ECEF;
        top: 0;
        right: 50%;
        transform: translateX(50%);
      }
    }
  }

  .story:first-child {
    .story__heading a {
      padding-top: 0;
      margin-top: 0;

      &::before {
        display: none;
      }
    }
  }

  // style dots

  .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  li {
    margin-left: 12px;

    &:first-child {
      margin-left: 0;
    }
  }

  .slick-active {
    button {
      background: #6C757D;
      width: 10px;
      height: 10px;
    }
  }

  button {
    transform: 0.5s;
    width: 8px;
    height: 8px;
    background: #E9ECEF;
    opacity: 0.8;
    border-radius: 50%;
    font-size: 0;
  }
}

.abf-homepage {
  .top-wrapper {
    .story {
      background: #343A40;
      min-height: 623px;

      &__thumb {
        width: 627px;
        height: 425px;
      }

      &__heading a {
        font-weight: $font-weight-medium;
        font-size: 28px;
        line-height: 36px;
        color: #FFFFFF;
        padding: 16px 16px 0;
      }

      &__time {
        font-family: 'Quicksand';
        font-weight: $font-weight-normal;
        font-size: 13px;
        line-height: 16px;
        color: #ADB5BD;
        padding: 12px;
        display: block;
      }

      &__summary {
        font-family: 'Quicksand';
        font-weight: $font-weight-normal;
        font-size: 14px;
        line-height: 21px;
        color: #ADB5BD;
        padding: 0 16px 16px;
      }
    }
  }

  .bottom-wrapper {
    margin-top: 33px;
    display: flex;
    justify-content: space-between;

    >* {
      width: 297px;
      background: #FFFFFF;
      border: 1px solid #CED4DA;
      padding: 16px;
      min-height: 441px;
    }

    .story {
      &__thumb {
        height: 168px;
      }

      &__heading a {
        font-weight: $font-weight-medium;
        font-size: 16px;
        line-height: 160%;
        color: #212529;
        padding: 16px 16px 0;
      }

      &__time {
        font-family: 'Quicksand';
        font-weight: $font-weight-normal;
        font-size: 13px;
        line-height: 16px;
        color: #6C757D;
        padding: 12px 16px 0;
      }

      &__summary {
        font-family: 'Quicksand';
        font-weight: $font-weight-normal;
        font-size: 14px;
        line-height: 21px;
        color: #495057;
        padding: 12px 16px 0;
      }
    }
  }
}

.legal-glossary {
  margin-top: 33px;
  border: 1px solid #E9ECEF;

  .heading {
    font-family: 'Righteous';
    font-weight: $font-weight-bold;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #BD1723;
    padding: 9px 14px;
    display: block;
  }

  .box-content {
    background: #F8F9FA;
    padding: 16px;
    border-top: 1px solid #E9ECEF;
    height: 533px;
    overflow-y: scroll;
  }

  .story {
    margin-top: 12px;
    padding-top: 12px;
    border-top: 1px solid #E9ECEF;
    overflow: auto;

    &:first-child {
      margin-top: 0;
      padding-top: 0;
      border-top: none;
    }

    &__thumb {
      width: 60px;
      height: 60px;
      float: left;
      margin-right: 16px;
    }

    &__heading a {
      font-weight: $font-weight-medium;
      font-size: 14px;
      line-height: 22px;
      color: #343A40;
    }
  }
}

.official-gazette {
  margin-top: 33px;

  .box-heading {
    height: 92px;
    background: #870110;
    padding: 12px 28px 16px;
    text-align: center;

    .text {
      font-family: Quicksand;
      font-weight: 700;
      font-size: 13px;
      line-height: 21px;
      text-transform: uppercase;
      color: #870110;
      position: relative;
      z-index: 1;
      height: 33px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;

      &::before {
        position: absolute;
        content: '';
        background-color: #fff;
        width: 221px;
        height: 33px;
        top: 0;
        left: 11px;
        display: block;
        z-index: -1;
        transform: skewX(-31deg);
      }
    }
  }

  .heading {
    font-family: 'Righteous';
    font-weight: $font-weight-normal;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FFFFFF;

  }


  .box-content {
    border-right: 1px solid #DEE2E6;
    border-left: 1px solid #DEE2E6;
    border-bottom: 1px solid #DEE2E6;
    padding: 16px;
    background: #FBFBFB;
    box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.1);
    height: 376px;
    overflow-y: scroll;
  }

  .story {
    margin-top: 16px;
    padding-top: 16px;
    border-top: 1px solid #eee;

    &:first-child {
      margin-top: 0;
      padding-top: 0;
      border-top: none;
    }

    &__time {
      font-family: 'Quicksand';
      font-weight: $font-weight-bold;
      font-size: 16px;
      line-height: 20px;
      color: #870110;
      padding-left: 26px;
      background: url(../img/icon-date.png) center left/14px no-repeat;
    }

    .wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .text {
      font-family: 'Quicksand';
      font-weight: $font-weight-normal;
      font-size: 12px;
      line-height: 20px;
      color: #ADB5BD;
    }

    &__summary {
      font-family: 'Quicksand';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: #343A40;
      margin-top: 8px;
    }
  }
}

.most-read {
  .heading {
    font-family: 'Righteous';
    font-weight: $font-weight-normal;
    font-size: 32px;
    line-height: 40px;
    text-transform: uppercase;
    color: #BD1723;
  }

  .story {
    height: 96px;

    &:first-child {
      background: url(../img/1.png) center right/52px no-repeat;
    }

    &:nth-child(2) {
      background: url(../img/2.png) center right/52px no-repeat;
    }

    &:nth-child(3) {
      background: url(../img/3.png) center right/52px no-repeat;
    }

    &:nth-child(4) {
      background: url(../img/4.png) center right/52px no-repeat;
    }

    &:nth-child(5) {
      background: url(../img/5.png) center right/52px no-repeat;
    }

    &__heading a {
      font-weight: $font-weight-medium;
      font-size: 14px;
      line-height: 22px;
      color: #343A40;
      padding-top: 10px;
    }
  }
}

.timeline {
  .story {
    overflow: auto;
    box-shadow: inset 0px 1px 0px #DDDDDD;
    margin-top: 36px;
    border-top: 1px solid #eee;

    &:first-child {
      margin-top: 0;
      padding-top: 0;
      border-top: none;
    }

    &__thumb {
      width: 230px;
      height: 154px;
      float: left;
      margin-right: 12px;
    }

    &__heading a {
      font-weight: $font-weight-medium;
      font-size: 16px;
      line-height: 24px;
      color: #212529;
      padding-top: 24px;
    }
  }

  .wrapper {
    display: flex;
    align-items: center;
    margin-top: 8px;

    .cate {
      font-family: 'Quicksand';
      font-weight: $font-weight-bold;
      font-size: 13px;
      line-height: 16px;
      text-transform: uppercase;
      color: #DC3545;
      margin-right: 10px;
    }

    .cate+time {
      &::before {
        position: absolute;
        content: '';
        width: 5px;
        height: 2px;
        top: 8px;
        display: block;
        background: #ADB5BD;
        left: -3px;
      }
    }

    .time {
      font-family: 'Quicksand';
      font-weight: $font-weight-normal;
      font-size: 13px;
      line-height: 16px;
      color: #ADB5BD;
      position: relative;
      padding-left: 9px;
    }
  }
}

.box-picture {
  background: #E9ECEF;
  padding: 16px;
  margin-top: 33px;
}

.publications {
  border: 1px solid #E9ECEF;
  margin-top: 33px;

  .heading {
    font-family: 'Righteous';
    font-weight: $font-weight-bold;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #BD1723;
    padding: 9px 14px;
    display: block;
  }

  .box-content {
    background: #F8F9FA;
    padding: 16px;
    border-top: 1px solid #E9ECEF;
  }

  .story {
    margin-top: 16px;
    padding-top: 16px;
    overflow: auto;

    &:first-child {
      margin-top: 0;
      padding-top: 0;
    }

    &__thumb {
      width: 80px;
      height: 110px;
      float: left;
      margin-right: 12px;
    }

    &__heading a {
      font-family: 'Quicksand';
      font-weight: $font-weight-semibold;
      font-size: 12px;
      line-height: 20px;
      color: #343A40;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      line-clamp: 5;
      -webkit-box-orient: vertical;
    }
  }
}

.box-dondoc {
  margin-top: 32px;
  position: relative;

  .story {
    background: url(../img/bg-reading.png) center center/300px no-repeat;
    width: 300px;
    height: 146px;

    &__thumb {
      width: 105px;
      height: 148px;
      position: absolute;
      bottom: -16px;
      right: 16px;
      border: 1px solid #DEE2E6;
      filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.2));
    }

    &__tag {
      font-family: 'Righteous';
      position: absolute;
      font-weight: $font-weight-medium;
      font-size: 18px;
      line-height: 27px;
      text-transform: uppercase;
      color: #ffffff;
      background: url(../img/tag-dondoc.png) left -5px center/130px 45px no-repeat;
      left: -12px;
      top: 16px;
      width: fit-content;
      height: 45px;
      padding: 4px 12px;
    }

    &__heading a {
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
      position: absolute;
      color: #fff;
      bottom: 32px;
      left: 21px;
      max-width: 150px;

      &:hover {
        color: #ccc !important;
      }
    }
  }
}

.zone-wrapper {
  background: #F8F9FA;
  padding: 26px;
  margin-top: 48px;
  margin-bottom: 38px;

  .heading-wrapper {
    .heading {
      font-family: 'Righteous';
      font-weight: $font-weight-normal;
      font-size: 50px;
      line-height: 62px;
      text-transform: uppercase;
      color: #870110;
    }
  }
}

.zone-2 {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;

  .main-col {
    width: 957px;
  }

  .sub-col {
    height: 312px;

    :first-child {
      margin-top: 0;
    }
  }

  .main-col {
    .box-content {
      >.story {
        margin-top: 0 !important;
        padding-top: 0 !important;
        overflow: hidden;

        &::before {
          display: none;
        }
      }

    }

    .topics-wrapper:nth-child(2) {
      .story {
        position: relative;
        overflow: auto;
        margin-top: 16px;
        padding-top: 16px;

        &::before {
          position: absolute;
          content: '';
          top: 0;
          width: 80px;
          border-top: 1px solid #DEE2E6;
        }

        &__thumb {
          width: 60px;
          height: 60px;
          float: right;
        }

        &__heading a {
          font-weight: $font-weight-normal;
          font-size: 14px;
          line-height: 20px;
          color: #212529;
          max-width: 184px;
        }
      }

      .story:first-child {
        .story__heading a {
          padding-top: 0;
        }
      }
    }
  }

  .row {
    justify-content: space-between;
    margin-top: 33px;

    &:first-child {
      margin-top: 0;
    }
  }
}

.topics-wrapper {
  background: #FFFFFF;
  border: 1px solid #E9ECEF;
  padding: 24px 16px;
  width: 297px;


  .heading {
    font-family: 'Righteous';
    font-weight: $font-weight-normal;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #BD1723;
  }

  .box-content {
    margin-top: 10px;

    >.story {
      .story__thumb {
        width: 265px;
        height: 157px;
      }

      .story__heading a {
        font-weight: $font-weight-bold;
        font-size: 14px;
        line-height: 22px;
        color: #212529;
        padding-top: 8px;
      }
    }

    .wrapper {
      .story {
        position: relative;
        overflow: auto;
        margin-top: 16px;
        padding-top: 16px;

        &::before {
          position: absolute;
          content: '';
          top: 0;
          width: 80px;
          border-top: 1px solid #DEE2E6;
        }

        &__thumb {
          width: 60px;
          height: 60px;
          float: right;
        }

        &__heading a {
          font-weight: $font-weight-normal;
          font-size: 14px;
          line-height: 20px;
          color: #212529;
          max-width: 184px;
        }
      }
    }

  }
}

.zone-3 {
  margin-top: 33px;
  background: #FFFFFF;
  border: 1px solid #E9ECEF;
  padding: 26px;
  display: flex;
  justify-content: space-between;

  .topics-wrapper {
    border: none;
    width: 160px;
    padding: 0;
    position: relative;

    &:first-child {
      &::before {
        display: none;
      }
    }

    &::before {
      position: absolute;
      content: '';
      left: -27px;
      width: 1px;
      height: 100%;
      border-right: 1px solid #E9ECEF;
    }

    .heading {
      font-family: 'Quicksand';
      font-weight: $font-weight-semibold !important;
      font-size: 14px !important;
      line-height: 18px !important;
      text-transform: uppercase;
    }

    .box-content {
      >.story {
        .story__thumb {
          width: 160px !important;
          height: 190px !important;
        }
      }
    }
  }
}

.zone-4 {
  margin-top: 33px;

  .wrap-heading {
    text-align: center;
  }

  .heading {
    font-family: 'Righteous';
    font-weight: $font-weight-normal;
    font-size: 28px;
    line-height: 35px;
    text-align: center;
    color: #870110;
    position: relative;
    display: block;
    width: 100%;

    &::before {
      position: absolute;
      content: '';
      background: url(../img/left.png) left center no-repeat;
      width: 100%;
      height: 31px;
      display: block;
    }

    &::after {
      position: absolute;
      content: '';
      background: url(../img/right.png) right center no-repeat;
      width: 100%;
      height: 31px;
      display: block;
      top: 0;
    }
  }

  .box-content {
    padding: 0 36px;
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
  }

  .story {
    width: 160px;
    background: url(../img/thumb.png) right 11px top 0px no-repeat;

    &__thumb {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      margin: 0 auto;
      position: relative;
      margin-top: 8px;
    }

    &__heading a {
      font-weight: $font-weight-medium;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: #212529;
    }
  }
}

.box-photo {
  position: relative;

  .heading {
    font-family: 'Righteous';
    font-weight: $font-weight-normal;
    font-size: 36px;
    line-height: 45px;
    text-transform: uppercase;
    color: #870110;
  }

  .box-content {
    margin-top: 22px;
  }

  .story {
    &__thumb {
      width: 693px;
      height: 390px;
      border-radius: 4px;
      position: relative;
    }

    .icon {
      position: absolute;
      bottom: 16px;
      left: 16px;
      width: 60px;
      height: 60px;
      display: block;
      border-radius: 50%;
      content: "";
      z-index: 1;
    }

    &__heading a {
      font-weight: $font-weight-medium;
      font-size: 28px;
      line-height: 36px;
      color: #212529;
      padding-top: 16px;
    }

    &__summary {
      font-family: 'Quicksand';
      font-weight: $font-weight-medium;
      font-size: 13px;
      line-height: 22px;
      color: #6C757D;
      margin-top: 8px;
    }
  }

  .more-photos {
    background: rgba(248, 215, 218, 0.5);
    padding: 4px 8px;
    font-family: 'Quicksand';
    font-weight: $font-weight-medium;
    font-size: 14px;
    line-height: 24px;
    color: #BD1723;
    position: absolute;
    top: 7px;
    right: 0;
  }
}

.box-video {
  .heading {
    font-family: 'Righteous';
    font-weight: $font-weight-normal;
    font-size: 36px;
    line-height: 45px;
    text-transform: uppercase;
    color: #870110;
  }

  .box-content {
    margin-top: 22px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .story {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #DEE2E6;
    width: calc(50% - 16.5px);
    margin-right: 22px;
    margin-top: 22px;

    &:nth-child(2n+2) {
      margin-right: 0;
    }

    &:nth-child(-n+2) {
      border-top: 0;
      padding-top: 0;
      margin-top: 0;
    }

    &__thumb {
      width: 100%;
      height: 177px;
      position: relative;
      border-radius: 4px;
    }

    .icon {
      position: absolute;
      bottom: 16px;
      left: 16px;
      width: 30px;
      height: 30px;
      display: block;
      border-radius: 50%;
      content: "";
      z-index: 1;
    }

    &__heading a {
      font-weight: $font-weight-medium;
      font-size: 16px;
      line-height: 24px;
      color: #212529;
      padding-top: 8px;
    }
  }
}

.brand-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 33px;

  >* {
    background: #FFFFFF;
    border: 1px solid #CED4DA;
    padding: 8px;
    width: 180px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.abf-cate {
  margin-top: 36px;
  display: flex;
  justify-content: space-between;

  .rank-1 {
    width: 627px;

    .story {
      &__thumb {
        width: 627px;
        height: 352px;
      }

      &__heading a {
        font-weight: $font-weight-medium;
        font-size: 28px;
        line-height: 36px;
        color: #000000;
        padding-top: 23px;
      }

      &__time {
        font-family: 'Quicksand';
        font-weight: $font-weight-normal;
        font-size: 13px;
        line-height: 16px;
        color: #212529;
        margin-top: 12px;
      }

      &__summary {
        font-family: 'Quicksand';
        font-weight: $font-weight-normal;
        font-size: 14px;
        line-height: 21px;
        color: #212529;
        margin-top: 8px;
      }
    }
  }

  .rank-2 {
    width: 265px;

    .story {
      margin-top: 33px;

      &:first-child {
        margin-top: 0;
        border-top: none;
      }

      &__thumb {
        width: 265px;
        height: 168px;
      }

      &__heading a {
        font-weight: $font-weight-medium;
        font-size: 16px;
        line-height: 160%;
        color: #212529;
        padding-top: 8px;
      }

      &__time {
        font-family: 'Quicksand';
        font-weight: $font-weight-normal;
        font-size: 13px;
        line-height: 16px;
        color: #6C757D;
        padding-top: 12px;
      }
    }
  }

  .rank-3 {
    width: 331px;
    padding: 0 16px;
    background: #F8F9FA;
    border: 1px solid #E9ECEF;


    .story {
      margin-top: 12px;
      padding-top: 12px;
      border-top: 1px solid #E9ECEF;

      &:first-child {
        margin-top: 0;
        padding-top: 0;
        border-top: none;
      }

      &__thumb {
        width: 60px;
        height: 60px;
        float: left;
        margin-right: 16px;
      }

      &__heading a {
        font-weight: $font-weight-medium;
        font-size: 14px;
        line-height: 22px;
        color: #343A40;
      }
    }

    .wrapper {
      margin: 16px 0;
      height: 508px;
      overflow-y: scroll;
    }
  }
}

.wrap-tags {
  display: flex;
  justify-content: space-between;

  .tags {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: $font-weight-normal;
    font-size: 31px;
    line-height: 30px;
    color: #000000;
  }

  .result {
    font-family: 'Quicksand';
    font-weight: $font-weight-normal;
    font-size: 14px;
    line-height: 20px;
    color: #343A40;
  }
}

.wrap-search {
  margin-bottom: 60px;

  .region-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;

    >* {
      margin-bottom: 0;
    }
  }

  .keywords {
    font-family: 'Righteous';
    font-weight: $font-weight-normal;
    font-size: 37px;
    line-height: 30px;
    color: #000000;

    @media (min-width: 1366px) {
      font-size: 32px;
    }

    span {
      color: #BD1723;
    }
  }

  .result {
    font-family: 'Quicksand';
    font-weight: $font-weight-normal;
    font-size: 14px;
    line-height: 20px;
    color: #343A40;
  }

  .region-search {
    position: relative;
    margin: 0 auto;
    width: 600px;
    height: 64px;

    @media (min-width: 1366px) {
      width: 700px;
    }

    input {
      padding: 4px 4px 4px 20px;
      position: absolute;
      width: 100%;
      height: 100%;
      background: #F8F9FA;
      border: 1px solid #E9ECEF;
      outline: none;

      &::placeholder {

        font-weight: $font-weight-normal;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        align-items: center;
        color: #ADB5BD;
      }
    }

    i {
      position: absolute;
      right: 4px;
      top: 4px;
      width: 56px;
      height: 56px;
      background: #BD1723;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      color: $white;
      cursor: pointer;
    }
  }
}

.box-filler {
  background: #F8F9FA;
  border: 1px solid #E9ECEF;
  box-sizing: border-box;
  padding: 32px;

  .form-field {
    margin-top: 20px;

    &:first-child {
      margin-top: 0;
    }

    label {

      font-weight: normal;
      font-size: 13px;
      line-height: 20px;
      display: flex;
      align-items: center;
      color: #ADB5BD;
    }

    select {
      cursor: pointer;
      border: 1px solid #E9ECEF;
      border-radius: 8px;
      box-sizing: border-box;
      width: 100%;
      outline: none;
      font-size: 13px;
      line-height: 20px;
      color: #495057;
      padding: 12px 16px;
      -webkit-appearance: none;
      -moz-appearance: none;
      background: #fff url(../img/arrow-down.png) center right 14px/20px no-repeat;
    }
  }

  .btn-search {
    font-family: "Righteous";
    outline: none;
    border: none;
    background: #BD1723;
    border-radius: 4px;
    width: 89px;
    height: 32px;
    font-weight: $font-weight-medium;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    cursor: pointer;
  }
}