@mixin width50-Left {
    width: 412.5px;
    margin-left: calc(50% - 412.5px);
    margin-top: $spacer-3;
    margin-right: $spacer-3;
}

@mixin width50-Right {
    width: 412.5px;
    margin-right: calc(50% - 412.5px);
    margin-top: $spacer-3;
    margin-left: $spacer-3;
}

/* > normal article*/

/* > normal article*/

.article {
    margin: 0 auto;

    @include media-breakpoint-down(lg) {
        // padding-right: $spacer-4;
    }

    // cms default html 
    table.picture {
        text-align: center;
        width: 100%;
        padding-top: .8rem;
        font-size: 1px;
        font-style: italic;
        color: #888 !important;
        padding-left: 25px;
        padding-right: 25px;
        font-weight: $font-weight-normal;
        margin-top: 16px !important;


        .pic {
            position: relative;

            img {
                max-width: 100%;
                width: auto;
            }

            .play {
                cursor: pointer;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background: rgba(0, 0, 0, 0.8);
                width: 62px;
                height: 62px;
                display: block;

                i {
                    font-size: 32px;
                    line-height: 32px;
                    color: #FFFFFF;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }

        .caption {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            color: #6C757D;
            padding-top: 12px;
            font-family: 'Roboto';
            text-align: left;
            padding-right: 16px;
            padding-left: 16px;
            text-align: center;
        }

        &[align="left"] {
            @media (min-width:414px) {
                width: 50% !important;
                float: left;
                margin-right: $spacer-3 !important;
                margin-left: 0 !important;
            }
        }

        &[align="right"] {

            @media (min-width:414px) {
                width: 50% !important;
                float: right;
                margin-left: $spacer-3 !important;
                margin-right: 0 !important;
            }
        }

        &[align="center"] {
            text-align: center;
            max-width: 659px;
        }

        &.full-width {
            margin: $spacer-3 auto 0;
            width: 100%;
            max-width: initial;
            text-align: center;

            .pic {
                img {
                    width: 100%;
                }
            }

            td.caption {
                text-align: center;
                font-weight: 400;
                font-style: italic;
            }
        }
    }

    .bm-player+table.picture {
        margin-top: 0 !important;
    }

    table:not([class]) {
        width: 100% !important;

        td,
        th {
            padding: 5px;
            border: 1px solid $border-color;

            @media (min-width:375px) {
                padding: 10px;
            }
        }
    }

    .photo {
        img {
            max-width: 100%;
        }
    }

    table.video {
        margin: $spacer-3 auto 0;
        max-width: 100%;
        width: 100%;

        video {
            max-width: 100%;
        }

        .caption {
            @include text-regular-1;
            padding-top: $spacer-1;

            p {
                margin: $spacer-1 auto 0;

                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }

    blockquote {
        position: relative;
        z-index: 0;
        background: #FFFFFF;
        border: 2px solid #CE2E0E;
        box-sizing: border-box;
        margin-top: 38px !important;
        margin-bottom: 24px !important;
        padding: 24px;

        >* {
            &:first-child {
                margin-top: 0 !important;
            }
        }

        table[align="center"] {
            display: flex;
            justify-content: center;
        }

        @media (min-width:414px) {
            padding: 21px 12px 15px;
        }

        &::before {
            content: "";
            position: absolute;
            top: -28px;
            background: #fff url(../img/quote.png) center center no-repeat;
            width: 60px;
            height: 45px;
            left: 15px;
        }

        p {
            font-style: italic;
            font-weight: normal;
            font-size: 18px;
            line-height: 27px;
            color: #222222;
        }

        .author {
            font-size: 16px;
            line-height: 27px;
            text-transform: uppercase;
            font-style: normal;
            text-align: left;
            font-weight: 600;
            display: block;
            padding-top: 35px;
            position: relative;
            padding-top: 29px;
            font-family: 'NotoSerif';
            src: url('../fonts/NotoSerif/NotoSerif-Bold.ttf');
            font-weight: 700;
            overflow: auto;

            &:before {
                background: #ADB5BD;
                content: '';
                width: 99px;
                height: 3px;
                position: absolute;
                top: 16px;
                left: 0px;
            }
        }

        img {
            width: 40%;
            margin: 5px $spacer-4 0 0;
            float: left;
        }

        &.qcenter {
            margin: $spacer-4 auto 0;

            img {
                width: 100%;
                height: auto;
                margin: 0 0 $spacer-1 0;
            }
        }

        &.qleft {
            width: 50%;
            float: left;
            margin-right: 1.5rem;

            img {
                width: 100%;
                height: auto;
                margin: 0 0 $spacer-1 0;
            }
        }

        &.qright {
            width: 50%;
            float: right;
            margin-left: 1.5rem;
            margin-top: 1rem;
            z-index: 0;

            img {
                width: 100%;
                height: auto;
                margin: 0 0 $spacer-1 0;
            }

            .author {
                &:before {
                    background: #adb5bd;
                    content: '';
                    width: 99px;
                    height: 3px;
                    position: absolute;
                    top: 16px;
                }
            }
        }
    }

    .notebox {
        background: rgba(255, 193, 7, 0.2);
        border: 1px solid rgba(255, 193, 7, 0.5);
        padding: 16px;
        text-align: left;
        margin-top: $spacer-3 !important;
        margin-bottom: 16px;

        p {
            font-size: 18px;
            line-height: 27px;
            margin-top: 0 !important;
        }

        p+table {
            width: 100% !important;
            margin: 10px 0 !important;
        }

        table.picture {
            margin-bottom: $spacer-3;

            &[align="left"] {
                margin-left: initial;
            }

            &[align="right"] {
                margin-right: initial;
            }

            &[align="center"] {
                max-width: 100%;
            }

            &.full-width {
                width: 100%;
                max-width: initial;
            }
        }

        &[align="left"] {
            float: left;
            margin-right: $spacer-3;
            margin-left: 0;
        }

        &[align="right"] {
            float: right;
            margin-left: $spacer-6;
            margin-right: 0;
        }

        &[align="left"],
        &[align="right"] {
            width: 50%;

            table.picture {

                &[align="left"],
                &[align="right"],
                &[align="center"],
                &.full-width {
                    width: 100%;
                }
            }
        }
    }

    &__sub-title,
    &__subtitle {
        padding-top: 12px;
        border-top: 1px solid $gray-300;
        font-size: 1.6rem;
        font-weight: $font-weight-bold;
        color: $gray-800;
        text-transform: uppercase;
    }

    &__title {
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        line-height: 34px;
        color: #212529;
        font-family: 'PlayfairDisplay';
    }

    &__meta {

        .author-name {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: #495057;
            text-transform: capitalize;
            font-family: 'Roboto';
        }

        .time {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            color: #ADB5BD;
            display: block;
            font-family: 'Roboto';
        }

        .wrap-features {
            display: flex;
            margin-top: 10px;

            >* {
                width: 44px;
                height: 44px;
                background-color: #6C757D;
                margin-left: 8px;
                position: relative;
                cursor: pointer;

                &:hover {
                    background: rgba(0, 0, 0, 0.6);
                }

                &:first-child {
                    margin-left: 0;
                }

                i {
                    position: absolute;
                    right: 50%;
                    top: 50%;
                    transform: translate(50%, -50%);
                    font-style: normal;
                    color: #FFFFFF;
                }
            }

            .fb {
                font-size: 20px;
                line-height: 23px;
                background: #3B5998;
            }

            .zalo {
                background: #03A5FA url(../img/zalo-icon-ver2.png) center center no-repeat;
            }

            .twitter {
                background: #00acee url(../img/icon-twitter-ver2.png) center center no-repeat
            }

            .print,
            .copy-link,
            .mail,
            .bookmark {
                i {
                    font-size: 18px;
                    line-height: 18px;
                }
            }

            .bookmark {

                &.active,
                &:hover {
                    background-color: $primary;
                }
            }
        }
    }

    .horizol-menu {
        display: flex;
        justify-content: space-between;
        width: 190px;
        margin-left: auto;
        z-index: 10;

        >* {
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #cfcfcf;
            border-radius: 50%;

            &:hover {
                background-color: $primary;
            }
        }

        i {
            font-size: 16px;
            color: $white;
            margin-right: 0;
        }

        .zalo {
            background-color: transparent;
        }

        & {
            display: flex;

            .facebook:hover {
                background-color: #3b5998;
            }

            .twitter:hover {
                background-color: #00acee;
            }

            .zalo {
                i {
                    filter: grayscale(100%);
                    opacity: 0.4;
                }

                &:hover {
                    i {
                        opacity: 1;
                        filter: grayscale(0%);
                    }
                }
            }
        }

        .print:hover {
            background: #888;
        }
    }

    .verticle-menu {
        position: fixed;
        width: 40px;
        left: calc(50% - 700px);

        @include media-breakpoint-down(lg) {
            left: calc(50% - 678px);
        }

        top: 200px;
        flex-direction: column;
        display: none;
        z-index: 10;

        >* {
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: $spacer-1;
            background-color: #cfcfcf;
            border-radius: 50%;

            &:hover {
                background-color: $primary;
            }
        }

        i {
            font-size: 20px;
            color: $white;
        }

        .zalo {
            background-color: transparent;
        }

        &.sticky-aside {
            display: flex;

            .facebook:hover {
                background-color: #3b5998;
            }

            .twitter:hover {
                background-color: #00acee;
            }

            .zalo {
                i {
                    filter: grayscale(100%);
                    opacity: 0.4;
                }

                &:hover {
                    i {
                        opacity: 1;
                        filter: grayscale(0%);
                    }
                }
            }

            .print:hover {
                background: #888;
            }
        }
    }

    .social-share {
        margin-left: auto;

        .fb-wrap {
            height: 20px;
            overflow: hidden;
        }
    }

    .social-btn-group {
        display: flex;
        justify-content: space-between;

        >a {
            width: calc(50% - 5px);
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .facebook {
            background-color: #3c5898;
            color: $white;

            i {
                font-size: 20px;
            }

            &:hover {
                background-color: darken(#3c5898, 10%);
            }
        }

        .twitter {
            background-color: #00acee;
            color: $white;

            i {
                font-size: 20px;
            }

            &:hover {
                background-color: darken(#00acee, 10%);
            }
        }

        .zalo {
            background-color: #018fe5;

            i {
                transform: scale(.7);
            }

            &:hover {
                background-color: darken(#018fe5, 10%);
            }
        }
    }

    &__sapo {
        font-style: italic;
        font-weight: normal;
        font-size: 18px;
        line-height: 28px;
        color: #222222;
    }


    &__avatar {
        margin-top: 3.2rem;
        text-align: center;
        width: 100%;

        .pic {
            img {
                width: 100%;
            }
        }

        .caption {
            padding-top: $spacer-1;
            font-size: 16px;
            font-style: italic;
            color: #888888;
            padding-left: 25px;
            padding-right: 25px;

        }

        hr {
            width: 50px;
        }
    }

    &__table {
        table.table {
            @extend .table;
            border: 1px solid $border-color;

            td {
                border: 1px solid $border-color;
            }
        }
    }

    .related-topic {
        margin: 0 -16px;
        background: #FFFFFF;
        border-top: 1px solid #DDDDDD;
        border-bottom: 1px solid #DDDDDD;
        padding: 0 16px 26px;

        .wrap-heading {
            .heading {
                background: #CE051F;
                font-style: normal;
                font-size: 16px;
                line-height: 24px;
                text-transform: uppercase;
                color: #FFFFFF;
                padding: 8px 12px;
                width: fit-content;
                display: block;
                margin: 0 -16px;

                &:hover {
                    background: #a6111c;
                    color: white !important;
                }
            }

        }

        .wrap-story {
            margin-top: 20px;
            padding-left: 11px;

            .story {
                margin-top: 16px;

                &:first-child {
                    margin-top: 0;
                }

                &__heading a {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 28px;
                    color: #343A40;
                    font-family: 'Noto';

                    i {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 14px;
                        color: #D0021B;
                        margin-right: 13px;
                    }
                }
            }
        }

    }

    &__source,
    &__author {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        i {
            margin-right: $spacer-1;
            font-size: 0;
            display: none;

            &:before {
                font-size: 22px !important;
            }
        }

        span {
            font-weight: 600;
        }
    }

    &__tag {
        position: relative;
        margin-top: 16px;

        .box-heading {
            display: none;
            font-size: 18px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            color: #333333;

            i {
                font-style: normal;
                font-weight: normal;
                font-size: 26px;
                line-height: 26px;
                color: #ADB5BD;
            }

            .heading:hover {
                color: unset !important;
            }
        }

        .box-content {
            display: flex;
            overflow-x: scroll;
            overflow-y: hidden;

            a {
                border: 1px solid #DEE2E6;
                box-sizing: border-box;
                padding: 5px 16px;
                font-size: 14px;
                line-height: 20px;
                font-style: normal;
                font-weight: normal;
                font-family: 'Roboto';
                margin-left: 12px;
                background: #E9ECEF;
                border-radius: 22px;
                color: #343A40;
                white-space: nowrap;
                position: relative;

                &:first-child {
                    margin-left: 0;
                }

                &::before {
                    position: absolute;
                    content: '';
                    width: 10px;
                    top: 0;
                    background: transparent;
                }

                &:hover,
                &.active {
                    color: $primary;
                }
            }
        }

        // INFO :  style for scroll
        .scroll::-webkit-scrollbar-track {
            border-radius: 10px;
            background-color: transparent;
        }

        .scroll::-webkit-scrollbar {
            height: 4px;
            width: 0;
            background: transparent;
        }

        .scroll::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: transparent;
        }
    }

    .box-comment {
        margin-top: 16px !important;
        font-family: 'Roboto';

        .form-field {
            position: relative;
            margin-top: 10px;

            i {
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 20px;
                color: #6C757D;
                margin-right: 20px;
                position: absolute;
                transform: translateY(-50%);
                top: 22px;
                left: 12px;
            }

            .text {
                width: 100%;
                border: 1px solid #E9ECEF;
                padding: 12px 12px 12px 45px;



                &::placeholder {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 20px;
                    color: #6C757D;
                    font-family: 'Roboto';
                }
            }
        }

        .heading {
            font-style: normal;
            font-weight: 600;
            font-size: 30px;
            line-height: 35px;
            text-transform: uppercase;
            color: #212529;
            display: block;
            pointer-events: none;
        }

        textarea {
            background: $white;
            border: 1px solid #CCCCCC;
            box-sizing: border-box;
            border-radius: 3px;
            display: block;
            width: 100%;
            padding: .375rem .75rem;
            font-size: 1.6rem;
            line-height: 1.4;
            color: #495057;
        }

        .box-content {
            margin-top: 50px;
            clear: right;

            .wrap-comment {
                display: flex;

                .wrap {
                    margin-left: $spacer-3;
                    width: 100%;
                }
            }
        }

        .wrap-login {
            display: flex;
            align-items: center;
            justify-content: center;
            background: #F8F9FA;
            background: #F8F9FA;
            padding: 8px;

            span:first-of-type() {
                display: none;

                @media (min-width:375px) {
                    display: block;
                }
            }

            span {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
                color: #6C757D;
                padding-right: 8px;

            }

            button {
                width: 26px;
                height: 26px;
                margin-right: 7px;
                border-radius: 50%;

                i {
                    font-size: 13px;
                    line-height: 15px;
                    color: #FFFFFF
                }

                &:last-of-type {
                    margin-right: 15px;
                }
            }

            .fb,
            .mail,
            .google {
                background: #3b5998;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .zalo {
                background: #03A5FA url(../img/icon-zalo-02.png) center center no-repeat;
            }

            .google {
                background: #4285f4;
            }

            .login {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
                font-family: 'Roboto';
                display: inline-block;
                background-color: #fff;
                padding: 4px 6px;
                color: #111;
                border: 1px solid #ccc;
            }
        }

        .total-comment {
            font-weight: 600;
            font-size: 13px;
            line-height: 15px;
            text-transform: uppercase;
            color: var(--color-heading);
        }

        .wrap-select {
            label {
                font-weight: normal;
                font-size: 13px;
                line-height: 15px;
                text-transform: uppercase;
                // color: #333333;
                color: var(--color-heading);
                margin-bottom: 0;
            }

            select {
                background: #FFFFFF url(../img/vector.png) 172px 15px no-repeat;
                border: 1px solid #E5E5E5;
                box-sizing: border-box;
                outline: none;
                padding: 10px;
                font-weight: normal;
                font-size: 13px;
                line-height: 15px;
                color: #555555;
                cursor: pointer;
                width: 200px;
                appearance: none;
                -moz-appearance: none;
                -webkit-appearance: none;
                position: relative;
            }
        }

        .topic-comment {
            display: flex;
        }

        .sub-comment {
            margin-left: 50px;
            margin-top: $spacer-3;
            border-top: 1px solid #ddd;
            padding-top: $spacer-3;

            .wrap-comment {
                margin-top: 15px;

            }

            .w-100.mt-3 {
                justify-content: flex-end;
            }

            .avatar {
                width: 30px;
                height: 30px;
                background: #e5e5e5 url(../img/user.png) center center/15px no-repeat;
            }

            .btn-Submit {
                width: 114px;
                height: 28px;
                left: 645px;
                top: 68px;
                background: #CE2E0E;
                border-radius: 3px;
                color: #FFFFFF;
                font-size: 14px;
                line-height: 20px;
                text-transform: none;
            }
        }

        .sub-comments {
            .comment {
                display: flex;
            }
        }

        .avatar {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            padding: 15px;
            background: #CED4DA url(../img/user.png) center no-repeat;
            position: relative;

            img {
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                border-radius: 50%;
                width: 100%;
            }
        }

        .user {
            margin-top: 50px;
            clear: right;

            .comment.inner-comment {
                border-top: 1px solid #ddd;
                padding-top: $spacer-3;
                margin-top: $spacer-3;

                &:first-child {
                    border-top: 0;
                    padding-top: 0;
                    margin-top: 0;
                }
            }

            .content-comment {
                margin-left: 16px;
                width: 100%;

                .wrap {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .time {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 22px;
                        text-align: right;
                        color: #999999;
                        font-family: 'Roboto';
                    }
                }

                .info-author {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                    color: #212529;
                    font-family: 'Roboto';
                }

                .text {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 20px;
                    color: #212529;
                    margin-top: 8px;
                }
            }

            .action-comment {
                margin-top: 8px;

                >* {
                    margin-right: 40px;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    color: #6C757D;
                    font-family: 'Roboto';

                    &:last-child {
                        margin-right: 0;
                    }
                }

                .btnLike {
                    &.active {
                        color: $primary;
                    }
                }

                i {
                    padding-right: 8px;
                    font-size: 16px;
                    line-height: 20px;
                    color: #555555;
                }

            }

            .action-comment-reply {
                margin-top: 15px;

                textarea {
                    background: $white;
                    border: 1px solid #CCCCCC;
                    box-sizing: border-box;
                    border-radius: 3px;
                    display: block;
                    width: 100%;
                    padding: .375rem .75rem;
                    font-size: 1.6rem;
                    line-height: 1.4;
                    color: #495057;
                }
            }


        }

        .btn.btn-link {
            width: 200px;
            height: 40px;
            top: 0;
            background: #e21f26;
            border-radius: 3px;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 19px;
            text-transform: uppercase;
            color: #fff;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;


            &::after {
                display: inline-block;
                width: 0;
                height: 0;
                margin-left: .2125em;
                vertical-align: .2125em;
                content: "";
                border-top: .25em solid;
                border-right: .25em solid transparent;
                border-bottom: 0;
                border-left: .25em solid transparent;
            }
        }

        .btn-Submit,
        .btnSubmit {
            width: 114px;
            height: 28px;
            left: 645px;
            top: 68px;
            background: #ce2e0e;
            border-radius: 3px;
            color: #fff;
            font-size: 14px;
            line-height: 20px;
            text-transform: none;
            float: right;
            margin-top: 10px;
        }

        .btnSubmit {
            margin-top: 1.6rem;
            float: right;
        }
    }


    &__most-read {
        margin-top: $spacer-3;
        border: 1px solid $gray-400;
        padding: $spacer-3;
        padding-top: $spacer-2;

        .box-heading {
            @include text-uppercase-1;
        }

        .story {
            // @include story-left;
            margin-top: $spacer-3;
            padding-top: $spacer-3;
            border-top: 1px dashed darken($border-color, 10%);

            &__thumb {
                width: 80px;
                height: 60px;
            }

            &__summary {
                margin-top: $spacer-1;
            }

            &__cate {
                a {
                    @include text-regular-2;
                    color: $gray-600;
                }
            }

            &__heading {
                @include text-heading-4;
                margin-top: $spacer-0;
            }

            &__meta {}

            &__summary {}

            &:first-child {
                margin-top: 0;
                border-top: 8px solid $primary;
                padding-top: $spacer-3;
            }
        }
    }

    &__relate {
        border-top: 1px solid #E5E5E5;
        border-bottom: 1px solid #E5E5E5;
        padding: 20px 0;
        padding-left: 0;
        width: 100%;
        overflow: auto;

        &__thumb {
            width: 80px;
            height: 80px;
            @include runaround(left, 0, 16, 0, 0);

            a {
                display: flex;
                width: 100%;
                height: 100%;
                transition: transform .5s ease-out .1s;
            }

            img {
                width: 100%;
                object-fit: cover;
                margin: initial;
            }
        }

        &__heading a {
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 26px;
            color: #212529;
            font-family: 'PlayfairDisplay';
        }

        &__meta a {
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 20px;
            text-transform: uppercase;
            color: #BD1723;
            font-family: 'Noto';
            padding-top: 12px;
            display: block;
        }
    }

    .poll-box {
        text-align: left;
        border: 2px solid #BD1723;
        box-sizing: border-box;
        background: $white;
        font-family: 'Roboto';
        padding: 16px;
        margin-bottom: 13px;
        width: 100%;
        clear: both;


        &[align="right"] {
            width: 50%;
            float: right;
            position: relative;
            margin-left: $spacer-3;

            &::before {
                border: 2px solid #BD1723;
                position: absolute;
                content: '';
                margin: -30px -12px;
                height: 100%;
                width: calc(100% + 4px);
                z-index: -1;
            }
        }

        &[align="left"] {
            float: left;
            position: relative;
            width: 50%;
            margin-right: $spacer-3;

            &::before {
                border: 2px solid #BD1723;
                position: absolute;
                content: '';
                margin: -30px -26px;
                height: 100%;
                width: calc(100% + 4px);
                z-index: -1;
            }
        }

        .box-heading {
            span {
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 23px;
                text-transform: uppercase;
                color: #212529;

            }
        }

        .box-content {
            margin-top: 8px;

            .desc {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 21px;
                color: #495057;
                padding-bottom: 18px;
            }

            label {
                display: flex;
                align-items: center;
                cursor: pointer;

                span {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 20px;
                    color: #212529;
                    margin-left: 5px;
                }
            }

        }

        .wrap-button {
            margin-top: 20px;

            .btn-send {
                background: #D0021B;
                border-radius: 3px;
                width: 87px;
                height: 28px;
                color: $white;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 19px;
                text-transform: uppercase;
                color: #FFFFFF;
            }

            .btn-see {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 19px;
                color: #495057;

                @media (min-width:541px) {
                    margin-left: 20px;
                }
            }
        }
    }

    .social-btn-group,
    .article__relate-2,
    blockquote,
    &__notice,
    &__table,
    &__story,
    &__author,
    &__live,
    &__interview {
        margin: $spacer-4 auto $spacer-2;
    }

    &__body {
        font-size: 18px;
        line-height: 27px;
        color: #212529;
        font-family: 'Roboto';
        src: url('../fonts/Roboto/Roboto-Regular.ttf');
        font-weight: 400;

        >h1,
        >h2,
        >h3,
        >h4,
        >h5 {
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 27px;
            color: #212529;
            font-family: 'NotoSerif';
            src: url('../fonts/NotoSerif/NotoSerif-Bold.ttf');
        }

        >*,
        p {
            margin-top: 13px !important;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 28px;
            color: #212529;
            font-family: 'Noto';
        }

        img {
            max-width: 100%;
        }

        a {
            // color: $primary;
        }

        table img {
            max-width: 100%;
        }

        // for ads
        #wrapperTop,
        #wrapperBottom {

            >strong,
            >p,
            >div,
            >h1,
            >h2,
            >h3,
            >h4,
            >h5,
            >ins // >figure,

            // >table,
                {
                margin: $spacer-3 auto 0;
            }
        }

        table.picture .caption {
            @media (min-width:414px) {
                padding-right: 0;
                padding-left: 0;
            }
        }
    }

    .tts {
        width: 655px;
        margin: 20px auto 0;
    }

    [class^="image-group"] {
        width: auto;
        margin: $spacer-3 auto 0;

        img {
            width: 100%;
            height: 100%;
        }

        .image {
            display: flex;
            flex-flow: row wrap;
        }

        a {
            flex: 0 0 50%;
            max-width: 50%;
        }

        .caption {
            @include text-regular-1;
            padding-top: $spacer-1;
            padding-bottom: $spacer-3;

            &:empty {
                display: none;
            }
        }

        &.full-width {
            width: 100%;

            img {
                margin-bottom: 0;
            }
        }

        &+.image-group-2,
        &+.image-group-3,
        &+.image-group-4 {
            margin-top: 4px;
        }
    }

    .image-group-2 {
        a:nth-child(1) {
            padding-right: 2px;
        }

        a:nth-child(2) {
            padding-left: 2px;
        }
    }

    .image-group-3 {
        a:nth-child(1) {
            flex: 0 0 100%;
            max-width: 100%;
            margin-bottom: 4px;
        }

        a:nth-child(2) {
            padding-right: 2px;
        }

        a:nth-child(3) {
            padding-left: 2px;
        }
    }

    .image-group-4 {
        .col-39 {
            margin-bottom: 4px;
        }

        a:nth-child(1) {
            padding-right: 2px;
        }

        a:nth-child(2) {
            padding-left: 2px;
        }

        a:nth-child(3) {
            padding-right: 2px;
            padding-top: 4px;
        }

        a:nth-child(4) {
            padding-left: 2px;
            padding-top: 4px;
        }
    }

}

// > SPECTIFY PAGE ============
// --------
.infographic-page,
.longform-page {
    .picture.full-width {
        width: 100%;

        img {
            width: 100%;
        }
    }

    .site-body {
        line-height: 1.6;
        color: $gray-800;
    }

    .article {
        padding-right: 0;
        margin: 0 auto;
        margin-top: 24px;

        >* {
            max-width: 825px;
            margin: 0 auto;

            &.full-width,
            &.article__body {
                max-width: 100% !important;
            }
        }

        .article__body {
            >* {

                max-width: 825px;
                margin: 0 auto;

                &.full-width {
                    max-width: 100% !important;
                }
            }
        }

        .breadcrumbs,
        &__title,
        &__sapo {
            max-width: 1090px !important;
            display: flex;
            justify-content: center;
        }

        &__sapo {
            font-style: italic;
            font-weight: normal;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
            color: #222222;
            font-family: 'Noto';
        }

        // layout infographic
        table.picture {
            &[align="left"] {
                @include width50-Left();
            }

            &[align="right"] {
                @include width50-Right();
            }

            &[align="center"] {
                max-width: 659px;
                text-align: center;
            }

            &.full-width {
                width: 100%;
            }
        }

        table.video {
            width: 659px;

            video {
                max-width: 659px;
            }
        }

        blockquote {
            width: 659px;

            &.qcenter {
                max-width: 659px;
            }

            &.qleft {
                @include width50-Left();
            }

            &.qright {
                @include width50-Right();
            }
        }

        .notebox {
            table.picture {
                margin-bottom: $spacer-3;

                &[align="left"] {
                    margin-left: initial;
                }

                &[align="right"] {
                    margin-right: initial;
                }

                &[align="center"] {
                    max-width: 100%;
                }

                &.full-width {
                    width: 100%;
                    max-width: initial;
                }
            }

            &.nleft {
                margin-left: calc(50% - 400px);
            }

            &.nright {
                margin-right: calc(50% - 400px);
            }

            &.nleft,
            &.nright {
                width: 460px;
            }
        }


        &__avatar {
            margin-top: -1px;
        }


        &__title {
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            line-height: 60px;
            text-align: center;
            color: #212529;
            font-family: 'PlayfairDisplay';
        }

        &__meta {
            justify-content: space-between;
            height: initial !important;
            font-family: $font-family-serif;

            .social-share {
                margin-left: auto;
            }
        }

    }

    .more-story-detail,
    .timeline-detail {
        width: 1287px;
        margin: $spacer-6 auto;
    }

    .poll-box {

        &[align="right"] {
            @include width50-Right();
        }

        &[align="left"] {
            @include width50-Left();
        }
    }

    .notebox {
        &[align="left"] {
            @include width50-Left();
        }

        &[align="right"] {
            @include width50-Right();

        }
    }
}

.infographic-page {
    .site-body {
        .article {
            &__avatar {
                text-align: center;
                margin: 0 auto;
            }

            &__sapo {
                margin: $spacer-4 auto $spacer-4;
            }

            table.picture {
                width: 100%;
                text-align: center;
            }

            .article-photo,
            .inlinephoto,
            .info-image,
            .full-width {
                width: auto;
                max-width: 1200px !important;
                margin: 0 auto;
                text-align: center;

                img {
                    width: auto !important;
                    max-width: 1200px !important;
                }
            }
        }
    }
}

.longform-page {
    .site-body {
        >.container:first-child {
            width: 100% !important;
            max-width: 100% !important;
        }
    }

    .article {
        &__title {
            // margin-top: $spacer-5;
        }

        .article-photo,
        .inlinephoto,
        .info-image,
        .full-width {
            img {
                width: auto !important;
            }
        }

        .verticle-menu {
            display: none;
        }
    }

    .chapter-breadcrumb {
        width: 660px;
        margin: 10px auto;
    }

    .like-share {
        text-align: center;
        width: 660px;
        margin: .8rem auto;
    }

    .poll {
        width: 50% !important;
        float: left;
        margin: 1.2rem 1.5rem .5rem calc(50% - 400px) !important;
    }


    .time {
        color: #555;
        width: 660px;
        font-size: 1.4rem;
        font-weight: 400;
    }

    .chapter-breadcrumb {
        .breadcrumb-detail {
            font-size: 1.2rem;

            &::before {
                top: 2px;
            }
        }
    }

}

.chapter-breadcrumb+.box-heading {
    width: 660px;
    margin: 0 auto;
}

.video-page {
    .article {
        padding-right: $spacer-10;

        .wrap-player {
            height: 580px;
            background-color: $gray-300;
        }

        header {
            margin-top: $spacer-4;
        }

        &__sub-title {
            color: $gray-200;
        }

        &__title {
            color: $white;
        }

        &__meta {

            >*,
            a {
                color: $gray-200;
            }

            .print,
            .mail {
                background-color: $gray-600;

                i {}
            }
        }

        &__sapo {
            color: $gray-200;
        }

        &__tag {
            .box-heading {
                top: 18px;

                i {
                    color: $gray-200;
                }
            }

            .box-content {
                a {
                    height: 22px;
                    padding: 0 0.8rem;
                    background-color: #ccc;
                    border-color: #ccc;

                    &:hover {
                        background-color: $primary;
                        border-color: $primary;
                    }
                }
            }
        }

        .btn-link.btn-lg {
            background-color: $gray-600 !important;
            color: $gray-200 !important;
        }
    }
}

.photo-page {
    .article {
        &__title {
            margin-top: $spacer-1;
            font-family: $font-family-serif;
            font-size: 4rem;
            line-height: 1.1;
            font-weight: $font-weight-bold;
            text-align: center;
        }

        &__meta {
            padding-bottom: 30px;
            border-bottom: 1px solid $gray-400;
            font-family: $font-family-serif;
            display: flex;
            text-align: center;
        }

        &__sapo {
            text-align: center;
        }
    }
}
