<div class="news">
    <div class="box-heading">
        <h3 class="wrap-heading">
            <a href="#" class="heading">
                heading
            </a>
        </h3>
    </div>
    <div class="box-content">
        <article class="story">
            <figure class="story__thumb">
                <a href="" title="">
                    <img class=""
                        src="https://files.tachthongtin.com/nhandan/300x200/Files/Images/2021/10/29/z2886167378874_c5c1c1ec3d46191ee-1635447424487.jpg"
                        data-src="" alt="">
                </a>
            </figure>
            <h2 class="story__heading">
                <a class="cms-link" href="" title="">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.</a> </h2>
            <div class="story__summary">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus rem cum officiis dolorem nesciunt
                eveniet. Repellendus pariatur molestias, quidem sunt ea numquam corrupti! Reprehenderit error velit,
                neque impedit ex in.
            </div>
        </article>
    </div>
</div>