@import "../../scss/bootstrap-4.1.2/scss/functions";
@import "../../scss/variables";
@import "../../scss/mixins/font-style";
@import "../../scss/mixins/story-image";
@import "../../scss/mixins/no-padding-margin-border";

@mixin Roboto {
  font-family: 'Roboto';
}

.related-news {
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  padding: 24px 33px 33px;

  .box-heading {
    .heading {
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 23px;
      text-transform: uppercase;
      color: #212529;
      @include Roboto();
    }
  }

  .box-content {
    margin-top: 16px;

    .story {
      margin-top: 12px;

      &:first-child {
        margin-top: 0;
      }

      &__heading {
        i {
          font-weight: normal;
          font-size: 14px;
          line-height: 14px;
          color: #D0021B;
          margin-right: 13px;
        }

        a {
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 20px;
          color: #343a40;
          @include Roboto();
          align-items: baseline;
          display: flex;
        }
      }
    }
  }
}